/* oswald-500 - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/oswald-v49-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/oswald-v49-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/montserrat-v25-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* common */

*{
   box-sizing: border-box;
  }

img {
  display: block;
  max-width: 100%;
}


/* body */
.body {
 font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #060D10;
  margin: 0;
}
.container
{
  width: 1278px;
  margin: 0 auto;
  border: 1px solid red;
}



h1,

h2,

strong,

.lead-text {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}



.btn {
  color: #060D10;
}



ul {
  list-style: none;
  padding: 0;
}




/* header */

/* product */

/* promo*/

/* lead */

/* footer */
